
@font-face {
	font-family: 'iconfont';  /* project id 441720 */
	src: url('//at.alicdn.com/t/font_441720_5iapi41dpb1vpldi.eot');
	src: url('//at.alicdn.com/t/font_441720_5iapi41dpb1vpldi.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_441720_5iapi41dpb1vpldi.woff') format('woff'),
	url('//at.alicdn.com/t/font_441720_5iapi41dpb1vpldi.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_441720_5iapi41dpb1vpldi.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 14px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	color: #FFFFFF;
}

#iconlist {
	margin-left: 34px;
	font-size: 13px;
	/*display: inline;*/
}

.onlyicon {
	font-family: "iconfont" !important;
}

@font-face {
	font-family: FontAwesome;
	src: url('../font-awesome/fonts/FontAwesome.otf'),
		url('../font/SourceSansPro-Light.ttf');
}

.fontawesome {
	font-family: "FontAwesome" !important;
	color: #b2b6bf;
}